body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.header {
  background-color: #814155;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  height: 4em;
  color: #fff;
  box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.5);
}

.header > img {
  width: 4em;
  margin-right: 2em;
}

.main {
  padding: 2em 4em;
}

.section {
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 4px 18px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 4em;
  text-align: center;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #814155;
  width: 40%;
  border-radius: 20px 80px 80px 0;
  padding: 0.8em 0.5em;
  border: 1px solid #814155;
}

.section-header-photo-box {
  width: 6em;
  height: 6em;
  margin-right: 2em;
  border-radius: 50%;
  border: 1px solid #814155;
  box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.section-header-photo-box > img {
  width: 6em;
  height: 6em;
  border: inherit;
  border-radius: inherit;
}

.section-header > h2 {
  color: #fff;
}

.section-body {
  padding: 1em;
}

.section-image-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.welcome {
  text-align: center;
  font-weight: bold;
}

img {
  border-radius: 8px;
  box-shadow: 2px 2px grey;
}

figcaption {
  color: black;
  text-align: center;
}

figure:hover {
  opacity: 0.5;
}

footer {
  text-align: center;
}
footer img {
  width: 40px;
}

